@page
@model RazorPageWeb.Pages.Categories.IndexModel
@{
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary "><i class="bi bi-pen"></i> Create</a>
        </div>
    </div>
    <br /><br />

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Category Name</th>
                <th scope="col">Display Order</th>
                <th scope="col">Created At</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Categories)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.DisplayOrder</td>
                    <td>@item.Created</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="me-1 text-warning text-start" asp-page="EditCategory" asp-route-id="@item.Id"> <i class="bi bi-pencil-square me-1"></i>Edit</a>
                            <a class="me-1 text-danger text-end" asp-page="Delete" asp-route-id="@item.Id"> <i class="bi bi-trash me-1"></i>Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>